<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_parent_stock_operation_tag" 
        name="Etiquetas Operativas" 
        parent="stock.menu_stock_root"
        sequence="2"/>

    <menuitem id="menu_stock_operation_tag" 
        name="Etiquetas Operativas" 
        parent="operational_product_classification.menu_parent_stock_operation_tag"
        action="operational_product_classification.stock_operation_tag_action"
        sequence="1"/>

    <menuitem id="menu_product_template_stock_operation_tag"
        name="Productos"
        parent="operational_product_classification.menu_parent_stock_operation_tag"
        action="operational_product_classification.act_window_product_template_operation_tags"
        sequence="2"/>
</odoo>